* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.coming-soon {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}
.coming-soon p {
    font-size: 48px;
    border-right: 3px solid white; /* Cursor */
    white-space: nowrap;
    overflow: hidden;
    width: 14ch; /* Set the exact width to fit text */
    animation: typing 4s steps(12, end), blink-caret 0.75s step-end infinite;
    animation-iteration-count: infinite;
}

@keyframes typing {
    0% { width: 0; }
    50% { width: 14ch; } /* Fully typed out at 50% */
    75% { width: 14ch; } /* Hold full text for some time */
    100% { width: 0; } /* Erase text by 100% */
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}


